.listContainer {
    width: 100%;
    height: auto;
    background: #ECECEC;
    padding: 100px 0;
}

.listBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-items: center;
    justify-items: center;
}

.viewMore {
    margin: 50px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewMore h2 {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.viewMore h2:hover {
    opacity: .8;
}
