header {
    height: auto;
    background: #9FC4D0;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

header section {
    position: relative;
    margin-top: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

header section .content h1 {
    color: #FFF;
    font-size: 50px;
}

header section .content p {
    color: #FFF;
    font-size: 25px;
}

.imageBox {
    width: 500px;
}


.partners {
    width: 100%;
    padding: 70px 120px;
}

.partners  h1 {
    color: #4E8A9E;
    font-size: 4rem;
}

.partnersTable {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.partnersTable img {
    height: 150px;
    margin: 50px 50px;
}

.btnLogin, .btnRegister {
    font-size: 2rem;
    padding: 10px 50px;
    background: none;
    border: 3px solid #4B4B4B;
    cursor: pointer;
    border-radius: 35px;
    transition: all ease-in .3s;
    position: absolute;
    bottom: 15px;
}

.btnRegister {
    left: 300px;
}

.btnLogin:hover, .btnRegister:hover {
    background: #4B4B4B;
    color: #FFF;
}
